{% set showComments as true %}
{% set comments as hifi.get({'type':'comment','parent':this.id,'isSpam':false,'isApproved':true,'orderBy':'publishedAt','count':100}) %}

{% if showComments %}
<section id="comments">

    <h2>Comments</h2>
    
    <ol>
    {% for comment in comments %}
        {% include 'common/comments/comment-partial.html' with ['this':comment, 'parent':this] %}
    {% else %}
        <li>There are no comments yet.</li>
    {% endfor %}
    </ol>
    
    <h2>Leave a Comment</h2>
    <form action="http://{{ hifi.url.host }}/hifi/comment/" method="post" id="comment-form">			
        <fieldset>
            <input type="hidden" name="parent" value="{{ this.id }}" />
            <input type="hidden" name="redirectUri" value="http://{{ hifi.url.host }}{{ hifi.url.path }}" />
            
            <label for="name">Name:<span class="required">*</span></label>
            <input type="text" class="text required" id="name" name="author" />
            
            <label for="email">Email:<span class="required">*</span></label>
            <input type="text" class="text required email" id="email" name="email" />
            
            <label for="url">Website:</label>
            <input type="text" class="text url" id="url" name="url" />
            
            <label for="dampness"><strong>Is water wet or dry?:<span class="required">*</span></strong></label>
            <input type="text" class="text required" id="dampness" name="dampness" />
            
            <label for="comment">Comment:<span class="required">*</span></label>
            <textarea id="comment" class="required" name="content" cols="30" rows="6"></textarea>
        </fieldset>	
        <fieldset class="submit">
            <input type="submit" value="Submit Comment" />		
        </fieldset>	
    </form>

</section>
{% endif %}