{% extends 'page/page.html' %}

{% block content %}

    {% set keywords as hifi.http.get.keywords|e %}
    {% set results as hifi.get({type: 'content',content: { like: keywords }}) %}
    
    <p>{{ results|length }} result{% if results|length != 1 %}s{% endif %} found for &ldquo;{{ keywords }}&rdquo;</p>
    
    <ul id="results">
        {% for result in results %}
        <li>
            <h4><a href="{{ result.url }}">{{ result.title }}</a></h4>
            <p>{{ result.content|striptags|regex_replace('^.*?(.{0,50})('~keywords~')','&hellip;$1<mark>$2</mark>', 'is')|truncate(230) }}</p>
        </li>
        {% endfor %}
    </ul>

{% endblock content %}